/* ScrollToTopButton.css */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  outline: none;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}

